@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@layer base {
  body {
    @apply font-primary text-lg;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-dark;
  }
  .title,
  .section-title {
    @apply text-6xl lg:text-8xl mb-6 font-bold;
  }
  .h2 {
    @apply text-5xl lg:text-7xl font-bold;
  }
  .pretitle {
    @apply text-lg lg:text-[22px] text-light mb-4 lg:mb-6 uppercase font-normal;
  }
  .lead {
    @apply text-2xl text-light font-normal mb-6;
  }
  .link {
    @apply text-lg text-dark;
  }
  .section {
    @apply py-8 lg:py-[142px];
  }
  .btn {
    @apply rounded-lg transition flex justify-center items-center;
  }
  .btn-lg {
    @apply h-[75px] px-6 text-2xl font-normal;
  }
  .btn-md {
    @apply h-[60px] px-[16px] text-lg font-normal;
  }
  .btn-sm {
    @apply h-[48px] px-[16px] text-lg font-normal;
  }
  .btn-accent {
    @apply text-white bg-[#f9bc60] hover:bg-[#f9bc60];
  }
  .btn-white {
    @apply text-[#f9bc60] bg-white hover:bg-white/90;
  }
  .btn-outline {
    @apply bg-transparent text-[#f9bc60] border border-[#f9bc60] hover:bg-[#f9bc60] hover:text-white;
  }
  .btn-link {
    @apply text-[#f9bc60] text-xl lg:text-2xl;
  }
}

.bottlegrid {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "keunggulan1- Bottle keunggulan-3"
    ". Bottle ."
    "keunggulan-2 Bottle keunggulan-4";
}

.Bottle { grid-area: Bottle; }

.keunggulan1- { grid-area: keunggulan1-; }

.keunggulan-2 { grid-area: keunggulan-2; }

.keunggulan-3 { grid-area: keunggulan-3; }

.keunggulan-4 { grid-area: keunggulan-4; }

